.card-feed
  .card
    .card-data
      .card-profile(style='background-image: url(http://www.louisvillewebgroup.com/sites/default/files/styles/team-member/public/avatar-circle-blue.png?itok=UmUsBb4f);')
        .card-text John Smith
      .card-network
        i.fa.fa-twitter
      .card-time 
        i.fa.fa-clock-o
        | 10:99
    .card-content
      .card-photo(style='background-image: url(http://www.suplugins.com/podium/images/placeholder-03.png);')
      .card-text Lue sorum alallalalal askdj asdjalsdijcxj kdsj 9823rfjsdsfdk3o lsdf sd98f nk2e o9 dnsf 89sd fno32oe nd sdof n,w3 89sdnfl s98df nsdf osd 9r joijdsf9d jfzlx;fn.nsdfma'sdfjaodsfsdf nxvo 
    .card-stats
      .card-likes
        i.fa.fa-heart
        | 10
        i.fa.fa-retweet
        | 30
      .card-link
        a(href='google.com' target='_blank')
          i.fa.fa-link
          | Open